<label>Selecione a seção:</label>
<select>
    <option value="">
        &lt;&lt;selecione&gt;&gt;
    </option>
    <option value="esportes">
        Esportes
    </option>
    <option value="politica">
        Política
    </option>
    <option value="economia">
        Economia
    </option>
</select>

<div class="panel panel-default">
    <div class="panel-heading">
        Reportagens
    </div>
    <div class="panel-body">
         Nenhuma seção selecionada
    </div>    
</div>

<script src="js/index.js"></script>